<h1>Usuarios cadastrados</h1>

<a href="/usuarios/novo"> Cadastrar novo usuários</a>

<table border="1">
    <!--table row-->
    <tr>
        <!--table head-->
        <th>Id</th>
        <th>Nickname</th>
        <th>Nome</th>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
    </tr>
    {{/each}}
</table>